/////////////////
/// COLORS
////////////////
.cl-gray-400 {
  color: var(--gray-400);
}
.cl-gray-300 {
  color: var(--gray-300);
}
.cl-green-400 {
  color: var(--green-400);
}
.cl-orange-400 {
  color: var(--orange-400);
}
.cl-white {
  color: var(--white);
}
.cl-black {
  color: var(--dark);
}
.cl-bg{
  color: var(--bg);
}

.bg-green{
  background-color: var(--green-400);
}

.bg-orange{
  background-color: var(--orange-400);
}
