.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.inline-flex {
  display: inline-flex;
}

.items-center {
  align-items: center;
}

.items-self-end{
  align-self: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.justify-self-end{
  justify-self: flex-end;
}

.pointer{
  cursor: pointer;
}
